<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/assets/files/main/img/template/favicon.ico">
    <link rel="stylesheet" href="../public/styles/styles.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oxanium|Quantico&display=swap" rel="stylesheet">
    <title>Login - Radio IPN</title>
</head>
<!--------------------------------- MAIN HTML BODY ---------------------------------------------->

<body class="homePageBody">
    <div class="contenedor">      
            <%- body %> 
    </div>
<script src="../public/scripts/backgroundCanvas.js"></script>
</body>
</html>