<%- layout('./main.ejs') %>
<div>
    <form action="/signup" method="POST">
        <input type="email" name="email" placeholder="Insert Email">
        <input type="password" name="password" placeholder="Insert Password">
    
        <button type="submit">  
            Registrar
        </button>
    </form>
    <div>
        <% if(signupFlashMessage) { %>    
            <h1> <%= signupFlashMessage %>  </h1>
        <% } %> 
    </div>
</div>